<div class="nav">
	<a href="/post/dashboard/" class="nav-item">Dashboard</a>
	<a href="/post/new/" class="nav-item">New Post</a>
	<a href="/post/search/" class="nav-item">Search</a>
	<a href="/user/profile/<%= user %>" class="nav-item"> Profile</a>
	<a href="/user/settings" class="nav-item">Settings</a>
</div>
