<!DOCTYPE html>
<html>
<head>
	<title>Scope Blogs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/scope.css" />
	<link rel="stylesheet" href="/css/login.css" />
</head>
<body>


	<h1>Scope Blogs</h1>
	<% include ./partials/login.ejs %>
	<br/>

	<p> Don't have an account yet? </p>
	<br/>
	<a class="social-button" id="local-btn" href="/signup">Sign Up</a>





</body>
</html>